// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin cnitheme {
  @include valo;
  // Insert your own theme rules here
    
/*---------------This is reset library we have to insert at the top of css --------------------*/ 
 
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; font-weight:normal;}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0; outline:none;}address,caption,cite,code,dfn,em,th,var{font-weight:normal}li{list-style:none}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;/*font-weight:normal*/}
q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
body{*font-size:small;*font:x-small}select,input,button,textarea{font:99% }table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:oxygenregular;*font-size:108%;line-height:100%}
a{ text-decoration:none;}
:active{ outline:0 none;}
:focus{ outline:0 none;}
:hover{ outline:0 none;}
div{ font-size:14px; font-weight:normal;}

input[type="text"], input[type="password"] {
    width:100%;
    border:1px solid #cccccc;
    height:40px;
    border-radius:5px;
    padding:5px 0 5px 10px;
}
input[type="text"]:focus, input[type="password"]:focus {
    box-shadow:0 0 3px #6188da;
}

/*-------------------------------style starts here--------------------------------------------*/
/*---------------------browser text section color code----------------*/

::-ms-selection {
    background: #d7e5e6 ; /* IE */
}
::-moz-selection {
    background: #d7e5e6 ; /* Firefox */
}
::-o-selection {
    background: #d7e5e6 ; /* opera */
}
::-webkit-selection {
    background: #d7e5e6 ; /* crome */
}
::selection {
    background: #d7e5e6 ; /* Safari */
}
/*---------------------browser text section color code----------------*/
/*---------------------font-faces code----------------*/
body{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    color:#343331;
    background:#fafaf5;
}
/*------Header css starts here------------*/

$banner_lighter_shade: #f4a460 !default;
$banner_darker_shade: #926239 !default;
$banner_text_color: #ffffff; //not used not default since it is a hyper link
$button_background_color: #6a6aa6 !default;
$button_text_color: #ffffff !default;
$banner_text_shadow: #000000 !default;
$banner_text_selection: #49311c !default;
$banner_border_left: #fbe3cf !default;
$page_title_line: #D3D3D3 !default; 
$information_needed_text_color: #ff3232 !default;  
$link_text_color: #197DE1 !default;

.page_holder{
    width:95%;
    margin:0 auto;	
}
.page_inner{
    width:100%;
    display:inline-block;
}
header{
    width:100%;
    display:inline-block;
    background: -ms-linear-gradient($banner_lighter_shade, $banner_darker_shade); /* For IE10 */
	background: -webkit-linear-gradient($banner_lighter_shade, $banner_darker_shade); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($banner_lighter_shade, $banner_darker_shade); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($banner_lighter_shade, $banner_darker_shade); /* For Firefox 3.6 to 15 */
    background: linear-gradient($banner_lighter_shade, $banner_darker_shade); /* Standard syntax (must be last) */
    min-height:54px;
    text-align:left;
}
.menu{
    margin: 10px 0 5px 0;
    text-align:right;
    color:$banner_text_color;
    .menu_button{
        float:left;
		display:inline-block;
		background:transparent;
		.v-menubar{
			background:transparent;
			color:$banner_text_color;
			border:none;
			box-shadow:none;
			> .v-menubar-menuitem-selected{			
				background-image: none;
				background-color:$banner_darker_shade;
				outline-color: $banner_darker_shade;
				border: none;
				box-shadow: none;
			}
		}:focus{
		}:after {
			border-color: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.menu_logo{
		display: inline;
		float: left;
	}
	.right_menu{
    	.v-menubar{
			background:transparent;
			color:$banner_text_color;
			border:none;
			box-shadow:none;
			> .v-menubar-menuitem-selected{
		   		background-color:$banner_darker_shade;
		   		outline-color: $banner_darker_shade;
		   		border: none;
				background-image: none;
				box-shadow: none;
			}
		}:focus{
		}:after {
			border-color: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}

.v-menubar-popup{
	background-color:$banner_darker_shade;
	color:$banner_text_color;	
    .popupContent{
    	.v-menubar-submenu{    	
			> .v-menubar-menuitem-selected{
			}:hover{
				background-image: none;
				background-color: $banner_lighter_shade;
			}:before{
			}
    	}    
    }
}

/*------Header css ends here------------*/

hr { 
    border-top: 1px solid $page_title_line;
} 

.v-link {
    cursor: pointer;
    color: $link_text_color;
    text-decoration: none;
    font-weight: inherit;
    transition: color 140ms ease 0s;
}

.home_label {
	font-size: 45px;
	font-weight: bold;
}

.sign_in_label {
	font-size: 30px;
	font-weight: bold;
}

.infrequent_users_label{
	font-size: 20px;
	font-weight: bold;
}

.sub_window_header_label{
	font-size: 20px;
	font-weight: bold;
}

.filters_applied_label{
	color:red;
}

.number_of_rows_label{
	color:red;
}

.needs_approval_label{
	color:blue;
}

.upload_creative_label{
	font-size:20px;
}

em {
 	font-weight: bold;
}

.v-button {
	position: relative;
	text-align: center;
	white-space: nowrap;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	height: 37px;
	padding: 0 16px;
	color: $button_text_color;
	font-weight: 400;	
	border: none;
	background-color: $button_background_color;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.information_needed {
	font-size: 20px;
	font-weight: bold;
	color: $information_needed_text_color;
}

.contact_information {
	font-size: 16px;
	font-weight: bold;
}

.creative_information {
	font-size: 16px;
	font-weight: bold;
}

}